@model SV21T1020123.DomainModels.Shipper
<div class="box box-danger">
    <div class="box-body">
        <form action="~/Shipper/Delete/@Model.ShipperID" method="post">
            <div class="form-group disabled">
                <label>Tên người giao hàng:</label>
                <p class="form-control-static form-control">@Model.ShipperName</p>
            </div>

            <div class="form-group">
                <label>Điện thoại:</label>
                <p class="form-control-static form-control">@Model.Phone</p>
            </div>

            <div class="form-group">
                @if(SV21T1020123.BusinessLayers.CommonDataService.InUsedShipper(Model.ShipperID) == false)
                {
                <button type="submit" class="btn btn-danger">
                    <i class="fa fa-trash"></i> Xóa dữ liệu
                </button>
                }
                <a href="~/Shipper" class="btn btn-default"> Quay lại</a>
            </div>
        </form>
    </div>
</div>
