   <!-- Topbar Start -->
<div class="container-fluid">
    <div class="row bg-secondary py-1 px-xl-5">
        <div class="col-lg-6 d-none d-lg-block">
        </div>
        <div class="col-lg-6 text-center text-lg-right">
            <div class="d-inline-flex align-items-center">
                @if (User.GetUserData() == null)
                {
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Tài khoản</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="~/Account/Login" type="button">Đăng nhập</a>
                            <a class="dropdown-item" href="~/Account/SignUp" type="button">Đăng ký</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Chào! @User.GetUserData().DisplayName</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="~/Account/Edit" type="button">Thay đổi thông tin cá nhân</a>
                            <a class="dropdown-item" href="~/Account/ChangePassword" type="button">Đổi mật khẩu</a>
                            <a class="dropdown-item" href="~/Account/Logout" type="button">Đăng xuất</a>
                        </div>
                    </div>
                }
            </div>
            <div class="d-inline-flex align-items-center d-block d-lg-none">
                <a href="" class="btn px-0 ml-2">
                    <i class="fas fa-heart text-dark"></i>
                    <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
                </a>
                <a href="" class="btn px-0 ml-2">
                    <i class="fas fa-shopping-cart text-dark"></i>
                    <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
        <div class="col-lg-4">
            <a href="" class="text-decoration-none">
                <span class="h1 text-uppercase text-primary bg-dark px-2">LTD</span>
                <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">Shop</span>
            </a>
        </div>
        <div class="col-lg-4 col-6 text-left">
        </div>
        <div class="col-lg-4 col-6 text-right">
            <p class="m-0">Chăm sóc khác hàng</p>
            <h5 class="m-0">21T1020123@husc.edu.vn</h5>
        </div>
    </div>
</div>
<!-- Topbar End -->
