<style>
    .form-control{
        width: 400px
    }
</style>
<div class="bg-light d-flex justify-content-center align-items-center" style="height: 60vh;">
    <div class="login-form border rounded-3 p-3 shadow bg-white">
        <h2 class="text-center mb-4">Đổi mật khẩu</h2>
        <form method="post" action="~/Account/ChangePassword">
            @Html.AntiForgeryToken()
            <div class="mb-3">
                <label for="username" class="form-label"><strong>Mật khẩu cũ:</strong></label>
                <input type="password" class="form-control form-control" name="oldpassword" autofocus placeholder="Nhập mật khẩu cũ">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label"><strong>Mật mới:</strong></label>
                <input type="password" class="form-control form-control" name="newpassword" placeholder="Nhập mật khẩu mới">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label"><strong>Xác nhận mật khẩu mới:</strong></label>
                <input type="password" class="form-control form-control " name="confirmpassword" placeholder="Xác nhận mật khẩu mới">
                <h6 style="color: red">@Html.ValidationMessage("Error")</h6>
            </div>
            <button type="submit" class="btn btn-primary w-100"><strong>Đổi mật khẩu</strong></button>
        </form>
    </div>
</div>
